:host {
  height: 56px;
  background-color: white;
}

nav {
  background-color: transparent !important;
  padding-bottom: 0px;
}

.app-navbar-container {
  display: flex;
  flex-direction: row;
}

.app-main-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
